.container {
    width: 80%;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Protest Revolution', sans-serif;
    font-size: 100px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-container img {
    width: calc(20% - 20px); /* 20% width with 20px margin */
    height: 200px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.image-container img:hover {
    transform: scale(1.05);
}

.buttons {
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.buttons button p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}


.buttons button:hover {
    background-color: rgb(30, 30, 30);
}

.buttons a{
    text-decoration: none;
    color:white ;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #C6CAED;
}