/* profile.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #BD4F6C;
}

.container {
    max-width: 400px;
    margin: 100px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
}

.home {
    text-align: right;
    margin-bottom: 20px;
}
.fa-solid, .fas{
    cursor: pointer;
}

.home a {
    color: #000;
    text-decoration: none;
}

h2 {
    text-align: center;
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.profile-picture {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    position: relative;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.edit-button {
    position: absolute;
    bottom: 0;
    right: 0;
}

.edit-button button {
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.profile-info {
    margin-bottom: 20px;
    display: flex;
    border-top: 1px solid black;
}

.info-left {
    text-align: left;
    margin-right: 90px;
    margin-top: 20px;
}

.info-right {
    text-align: right;
    margin-top: 20px;
}

.info {
    margin-bottom: 30px;
}
.info-var {
    margin-bottom: 30px;
}

.logout {
    text-align: center;

}

.logout input[type="submit"] {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.logout input[type="submit"]:hover {
    background-color: #c82333;
}

.logout-text{
    font-family: Arial, sans-serif;
    font-size: 16px;
}
