body {
    margin: 0;
    padding: 0;
    background-color: #FACFAD;
}

.wrapper {
    max-width: 600px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.wrapper h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
}

.form {
    margin-bottom: 20px;
}

.form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.update {
    width: 200px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.update:hover {
    background-color: #0056b3;
}


@media screen and (max-width: 768px) {
    .wrapper {
        margin: 20px;
    }
}

#statusmsg {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    margin: 0 auto;
    width: 622px;
}
